<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/register.css">
</head>
<body>
  <main>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3268a8;">
      <a class="navbar-brand"><img src="assets/images/logo.png" style="width:70px;height:70px;"></a>
      <span class="navbar-text" style="color: white;">BnBBooking</span>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Reserve</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Recomend</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about.html">About us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/contact.html">Contact us</a>
          </li>
          <li>
              <div class="sign-in-up" style="right:0">
                <button type="button" class="btn my-2 my-lg-0"  onclick="location.href='/login.html'" >Sign in</button>

              </div>
          </li>

      </ul>
  </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/images/logo.png" alt="logo" class="logo">
          </div>
          <div id="registrationFormDiv" class="login-wrapper my-auto">
            <h1 class="login-title">Register</h1>
            <form action="#!">
              <div class="form-group">
                <label for="name">Enter Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="enter your name" v-model="user.firstName">
              </div>
              <div class="form-group">
                <label for="lastname">Enter Lastname</label>
                <input type="text" name="lastname" id="lastname" class="form-control" placeholder="enter your lastname" v-model="user.lastName">
              </div>
              <div class="form-group">
                <label for="gender">Select Gender</label>
                <select name="gender" id="gender" class="form-control" v-model="user.gender" >
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                  <option value="OTHER">Other...</option>
                </select>                
              </div>
              <div class="form-group">
                <label for="username">Enter Usename</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="enter your username" v-model="user.username">
              </div>
              <div class="form-group mb-4">
                <label for="password">Enter Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword" v-model="password">
              </div>
              <div class="form-group mb-4">
                <label for="password">Enter Password Again</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword again" v-model="confirmPassword">
              </div>
              <input name="register" id="register" class="btn btn-block register-btn" type="button" value="Register" v-on:click="tryRegister(user)">
            </form>

          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="assets/images/Vacation-Rental-750x498.jpg" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/axios.js"></script>
  <script src="/assets/js/moment.min.js"></script>
  <script src="/assets/js/toast.js"></script>
  <script src="/app/register.js"></script>
</body>
</html>
