.options-housekeeper{
    min-height: 100%;
    min-width: 15%;
    bottom: 0;
    background-color: #3268a8;
}
.column{
  float: left;
}
.main .row{
  display: flex;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.reservation-housekeeper .row{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.options-housekeeper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3268a8;
    position: sticky;
    top: 0;
    right: 0;
  }
.gender-housekeeper{
  text-align: center;
  margin: auto;
}
.gender-housekeeper input,label, img{
  display: inline-block;
}
.gender-sign-all{
  width: 40px;
  height: 40px;
}       
.gender-sign{
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.option-housekeeper p {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
  }
.option-housekeeper p:hover {
    background-color: grey;
    color: white;
  }

.sections-housekeeper{
    width: 85%;
    background-color: #fff;
  }
.no-margin{
  margin: 0;
  padding: 0;
}
.users-housekeeper{
  width: 50%;
  border: 1px solid grey;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
  }
.users-housekeeper:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
}
.users-housekeeper:hover .all-apartments-housekeeper{
  display: block;
}
.user-info-housekeeper{
  display: inline-block;
  vertical-align: middle;
}
.icon-housekeeper{
  display: inline-block;
}

.all-apartments-housekeeper{
  display: none;
  margin-left: 3px;
}
.search-housekeeper{
  width: 50%;
  margin: auto;
  margin-right: 22%;
  margin-left: 28%;
  padding: 0;
  display:flex;
  flex-direction: row;
  text-align: right ;
}
.search-housekeeper .btn{
    display: inline-block;
    margin: 0;
    margin-right: 3px;
    height: 50px;

}
.search-housekeeper input{
  width: 85%;
  display: inline-block;
  height: 50px;
  background-color:white;
  border-radius: 4px;
  border-color: #dddfe2;
  border: hidden;
  font-size: 25px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);}

.search-housekeeper input:hover , .search-housekeeper input:focus {
  border-bottom:4px solid #3268a8;
  border-radius: 4px;
  transition: 0.1s;
}

.reservation-housekeeper{
  width: 70%;
  border: 1px solid grey;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}

.reservation-housekeeper:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
}

.action-div-housekeeper{
  float: right;
  padding: 3;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid grey;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}

.action-div-housekeeper:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
}

.action-div-housekeeper img{
  width: 60px;
  height: 60px;
}

.left-housekeeper{
    width: 70%;
}

.right-housekeeper{
    width: 30%;
    border-left: 1px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-housekeeper .btn{
  width: 200px;
  margin-right: 20%;
  margin-top: 30px;
  text-align: center;
  border: 0px;
  background-color:#3268a8;
  color: #fff;
  border-radius: 0;}

  .right-housekeeper .btn:disabled,
  .right-housekeeper .btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.right-housekeeper .btn:disabled:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.right-housekeeper .btn:hover {
  border: 1px solid #3268a8;
  background-color: #fff;
  color: #3268a8; }

.reservation-guest-info-housekeeper{
  width: 50%;
  display: inline-block;
  text-align: center;
}

.reservation-apartment-info-housekeeper{
  width: 50%;
  display: inline-block;
  text-align: center;
}

.apartment-housekeeper{
  text-align: center;
  margin-top: 40px;
  box-sizing: border-box;
}
.apartment-pic-housekeeper{
  width: 300px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  border-radius: 8px 0 0 8px;
}

.apartment-info-housekeeper{
  width: 300px;
  height: 200px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  
}
.apartment-border-housekeeper{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 40px;
}

.apartment-border-housekeeper:hover{
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 3px;
}

.apartment-info-icons-housekeeper{
  height: 30px;
  width: 30px;
}

.info-mark-housekeeper{
  display: inline-block;
  margin-top: 5px;
}

.icons-housekeeper{
  height: 70px;
  width: 70px;
}
.apartment-type-housekeeper{
  width: 60%;
  margin: auto;
}

.select-apartment-type-filter{
  text-align: left;
  width: 100%;
  
} 

.select-apartment-type-filter select{
  height: 50px;
  width: 150px;
  background-color:white;
  display: inline-block;
  border-radius: 4px;
  margin: 10px;
  border-color: #dddfe2;
  border: hidden;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
  -moz-appearance: none;
  -webkit-appearance: none;
  color: black;
}

.select-apartment-type-filter select:hover {
  border-bottom:4px solid #3268a8;
  border-radius: 4px;
  transition: 0.1s;
}

.select-apartment-type{
  text-align: right;
  margin-right: 45px;
} 

.select-apartment-type select{
  height: 50px;
  width: 200px;
  display: inline-block;
  background-color:white;
  border-radius: 4px;
  margin: 20px;
  border-color: #dddfe2;
  border: hidden;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
  -moz-appearance: none;
  -webkit-appearance: none;
  color: black;
}

.select-apartment-type select:hover {
  border-bottom:4px solid #3268a8;
  border-radius: 4px;
  transition: 0.1s;
}

.hide-checkbox{
    padding-right: 10px;
    padding-top: 35px;
    background: #3268a8;
    color: #fff;
    height: 100px;
    width: 200px;
}

.edit-combobox{
  width: 100px;
  margin-left: 20px;
  margin-top:10px;
}

.edit-combobox select{
  -moz-appearance: none;
  -webkit-appearance: none;
  color: black;
  background-color: white;
  width: 100px;
  height: 35px;
  border-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
  border-radius: 4px;
  text-align: center;
}

.edit-apartment-input{
  width: 200px;
  margin-left: 20px;
  margin-top:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
}

.have-amenity-checkbox{
  margin-top: 3px;
  margin-left: 3px;
}

.comment-wrapper-disabled{
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
  background: gray;
}

.edit-combobox select:invalid,
.edit-combobox select option[value=""]{
    color: grey;
}

.time{
  width: 150px;
  margin-left: 20px;
  margin-top:10px;
}

.time select:invalid,
.time select option[value=""]{
    color: grey;
}

.time select{
  -moz-appearance: none;
  -webkit-appearance: none;
  color: black;
  background-color: white;
  width:60px;
  display: inline-block;
  height: 35px;
  border-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
  border-radius: 4px;
  text-align: center;
}

.buttons-admin{
  text-align: left;
  display: inline-block;
}

.buttons-admin h3{
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.select-amenity-type{
  display: inline-block;
}

.select-amenity-type select{
  height: 50px;
  width: 200px;
  
  display: inline-block;
  background-color:white;
  border-radius: 4px;
  margin: 4px;
  font-size: 25px;
  border-color: #dddfe2;
  border: hidden;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
  -moz-appearance: none;
  -webkit-appearance: none;
  color: black;
}

.select-amenity-type select:invalid,
.select-amenity-type select option[value=""]{
    color: grey;
}

.select-amenity-type select:hover {
  border-bottom:4px solid #3268a8;
  border-radius: 4px;
  transition: 0.1s;
}

.addingNewAmenity .search-housekeeper{
  width: 30%;
  margin: 4px;
  display: inline-block;
}

.addingNewAmenity .btn{
  margin: 4px;
  width: 100px;
  height: 50px;
  display: inline-block;
  border: 0px;
  background-color:#3268a8;
  color: #fff;
  border-radius: 0;
}

.addingNewAmenity .btn:hover {
  border: 1px solid #3268a8;
  background-color: #fff;
  color: #3268a8; }

.reservation-admin .row{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.reservation-admin{
  width: 60%;
  border: 1px solid grey;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}

.reservation-admin:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
}

.users-admin{
  text-align: left;
  width: 90%;
  border: 1px solid grey;
  margin: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
  }
.users-admin:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.19);
}
.users-admin:hover .all-apartments-housekeeper{
  display: block;
}

.user-column{
  width: 50%;
  text-align: center;
}


