@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  min-height: 100vh; 
}
.bk-img{
    background-image: url("a.jpeg");
    background-size: cover;
    height: 550px;
    z-index: -1;}
.search-form{
    margin-top: 60px;
    margin-right: 250px;
    height: 500px;
    font-size: 18px;
    width: 500px;
    position: absolute;
    text-align: center;}
.search-destination{
    height: 50px;
    width: 99%;
    background-color:white;
    border-radius: 4px;
    margin: 4px;
    border-color: #dddfe2;
    border: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);}

.price{
    height: 50px;
    width: 115px;
    background-color:white;
    border-radius: 4px;
    margin: 4px;
    border-color: #dddfe2;
    border: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);}
.search select{
    height: 50px;
    width: 104px;
    display: inline-block;
    background-color:white;
    border-radius: 4px;
    margin: 4px;
    border-color: #dddfe2;
    border: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
    -moz-appearance: none;
    -webkit-appearance: none;
    color: black;
}
.search select:invalid,
.search select option[value=""]{
    color: grey;
}
.datepicker{
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
    margin: 5px;}
.vdp-datepicker input{
    height: 50px;
    width: 105px;
    background-color:white;
    border-color: #dddfe2;
    border: hidden;
    border-radius: 4px;
}
.sign-in-up{
    position: absolute;}
.btn{
    margin: 4px;
    float: right;
    border: 0px;
    background-color:#3268a8;
    color: #fff;
    border-radius: 0;
}
.btn:hover {
    border: 1px solid #3268a8;
    background-color: #fff;
    color: #3268a8; }
#search-btn{
    width: 500px;
    height: 50px;
    display: block;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 30px;
    border-radius: 4px;
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;}
.search{
    border: 1px solid #ddddde;
    border-radius: 8px;
    width: 700px;
    height: 200px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    background: #f5f4f3;
    box-sizing: border-box;}

.info{
    width: 70%;
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -40px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    }

.info-content{
    text-align: center;
    margin-top: 50px;
}
.apartment-info-icons{
    height: 30px;
    width: 30px;
}

.price-for-night{
    width: 50px;
    height: 30px;
    background-color: #3268a8;
    margin-left: 90%;
    border-radius: 4px;
    text-align: center;
    padding: 1px;
}

.info-mark{
    display: inline-block;
    margin-top: 5px;
}

.icons{
    height: 70px;
    width: 70px;
}

#recomended{
    margin-top: 50px;
    text-align: center;
}

.apartment{
    text-align: center;
    margin-top: 40px;
    box-sizing: border-box;
}
.apartment-pic{
    width: 300px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px 0 0 8px;
}

.apartment-info{
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    
}
.apartment-border{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 40px;
}

.apartment-border:hover{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 3px;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: #3268a8;
}


.main .row{
    display: flex;
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    
  }
.guest-profile-options ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: #3268a8;
      position: sticky;
      top: 0;
      right: 0;
}
.guest-profile-options{
        max-height: 100%;
        min-width: 13%;
        bottom: 0;
        background-color: #3268a8;
        
}

.option-guest p {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
  }

.option-guest p:hover {
    background-color: white;
    color: #3268a8;
    
  }
.column{
    float: left;
  }
.profile-info-label{
    margin-left: 30px;
    margin-top:10px;
    font-weight: bold;
}

.profile-info-p{
    margin-left: 40px;
    margin-top:10px;
    
}
.edit-icon{
    font-size: 20px
}
.edit-info-button{
    margin: 4px;
    float: right;
    border: 0px;
    background-color:#3268a8;
    color: #fff;
    padding: 15px 32px;
    border-radius: 0;
    font-size: 20px
}
.edit-info-button:hover {
    border: 1px solid #3268a8;
    background-color: #fff;
    color: #3268a8; }


.reservation-info{
        width: 300px;
        height: 400px;
        display: inline-block;
        text-align: left;
        box-sizing: border-box;   
}
.multiselect{
    width:200px;
}
.selectBox{
    position:relative;
}
.selectBox select{
    width: 100%;
    font-weight: bold;
}
.overSelect{
    position:absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}
#checkboxes{
    display: none;
    border:1px solid #dadada;
}
#checkboxes label{
    display:block;
}
#checkboxes label:hover{
    background-color: #1e90ff;
}
table {
    border: none;
}

td {
    border: none;
}