@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  min-height: 100vh; 
  padding-bottom: 70px; 
}
.bk-img{
    background-image: url("a.jpeg");
    background-size: cover;
    height: 550px;
    z-index: -1;}
.search-form{
    margin-top: 60px;
    margin-right: 250px;
    height: 500px;
    font-size: 18px;
    width: 500px;
    position: absolute;
    text-align: center;}
.search-destination{
    height: 50px;
    width: 99%;
    background-color:white;
    border-radius: 4px;
    margin: 4px;
    border-color: #dddfe2;
    border: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);}

.price{
    height: 50px;
    width: 115px;
    background-color:white;
    border-radius: 4px;
    margin: 4px;
    border-color: #dddfe2;
    border: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);}
select{
    height: 50px;
    width: 104px;
    display: inline-block;
    background-color:white;
    border-radius: 4px;
    margin: 4px;
    border-color: #dddfe2;
    border: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
    -moz-appearance: none;
    -webkit-appearance: none;
    color: black;
}
select:invalid,
select option[value=""]{
    color: grey;
}
.datepicker{
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
    margin: 5px;}
.vdp-datepicker input{
    height: 50px;
    width: 105px;
    background-color:white;
    border-color: #dddfe2;
    border: hidden;
    border-radius: 4px;
}
.sign-in-up{
    position: absolute;}
.btn{
    margin: 4px;
    float: right;
    border: 0px;
    background-color:#3268a8;
    color: #fff;
    border-radius: 0;}
.btn:hover {
    border: 1px solid #3268a8;
    background-color: #fff;
    color: #3268a8; }
#search-btn{
    width: 500px;
    height: 50px;
    display: block;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 30px;
    border-radius: 4px;
    font-size: 25px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;}
.search{
    border: 1px solid #ddddde;
    border-radius: 8px;
    width: 700px;
    height: 200px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    background: #f5f4f3;
    box-sizing: border-box;}

.info{
    width: 70%;
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -40px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    }

.info-content{
    text-align: center;
    margin-top: 50px;
}
.apartment-info-icons{
    height: 30px;
    width: 30px;
}

.price-for-night{
    width: 50px;
    height: 30px;
    background-color: #3268a8;
    margin-left: 10%;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 1px;
}
.show-more{
    width: 50px;
    height: 30px;
    background-color: #3268a8;
    margin-left: 90%;
    margin-bottom: 20%;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 1px;
}
.info-mark{
    display: inline-block;
    margin-top: 5px;
}

.icons{
    height: 70px;
    width: 70px;
}

#recomended{
    margin-top: 50px;
    text-align: center;
}

.apartment{
    text-align: center;
    margin-top: 40px;
    box-sizing: border-box;
}
.apartment-pic{
    width: 300px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px 0 0 8px;
}

.apartment-info{
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    
}
.apartment-border{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 40px;
}

.apartment-border:hover{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 3px;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: #3268a8;
    /* position: absolute;
    //bottom: 0;
    left:0;
    */
}

.modal-mask{
    position: fixed;
    z-index:9998;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity .3 ease;
}

.modal-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.depart-date-error{
    color: rgb(216, 50, 50);
}